@import "../../styles.less";

:host {
    display: flex;
    width: 500px;
    height: 500px;
    border: 5px solid @c-panel-border;

    .launch-analyse {
        display: flex;
        align-self: flex-end;
    }
}